<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>To-Do Liste</title>
</head>
<body>
    {% now "jS F Y H:i" %}
    <h2>To-Do Liste:</h2>

    {% for todo in todos %}
        <div>
            <p>{{todo}}</p>
        </div>
    {% endfor %}

</body>
</html>